<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}FDA OpenAPI Query{% endblock %}
{% block content %}
        {%  with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
  <h1>
<script>
var dt = new Date();
document.getElementById("datetime").innerHTML = dt.toLocaleString();
</script>
 </h1>

<table class="table" table-striped w-50>
  <thead>
    <tr>
      <th style="width: 5%">#</th>
      <th style="width: 10%">Event Date</th>
      <th style="width: 15%">Company</th>
      <th style="width: 35%">Product Name</th>
      <th style="width: 35%">Reason for Event</th>
    </tr>
  </thead>
  <tbody>
      {% for i in mydata %}
          <tr>
                <th>{{loop.index0}}</th>
                <td>{{i['date_of_event']}}</td>
                <td>{{i['manufacturer_d_name']}}</td>
                <td>{{i['brand_name']}}</td>
                <td>{{i['product_problems']}}</td>
          </tr>
      {% endfor %} 
  </tbody>
</table>

 <br>
    View the data as a graph?<a href="/fdagraph">Graph</a>
    View map<a href="/fdamap">Map</a>

{% endblock %}
