{% extends "base.html" %}
{% block title %}FDA OpenAPI Query{% endblock %}
{% block content %}
        {%  with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
  <h1>
<script>
var dt = new Date();
document.getElementById("datetime").innerHTML = dt.toLocaleString();
</script>
 </h1>

<table class="table" table-striped w-50>
  <thead>
    <tr>
      <th style="width: 5%">#</th>
      <th style="width: 10%">Recall Date</th>
      <th style="width: 15%">Company</th>
      <th style="width: 35%">Product Description</th>
      <th style="width: 35%">Reason for Recall</th>
    </tr>
  </thead>
  <tbody>
      {% for i in mydata %}
          <tr>
                <th>{{loop.index0}}</th>
                <td>{{i['event_date_created']}}</td>
                <td>{{i['recalling_firm']}}</td>
                <td>{{i['product_description']}}</td>
                <td>{{i['reason_for_recall']}}</td>
          </tr>
      {% endfor %} 
  </tbody>
</table>

{% endblock %}
