{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    {%  with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
  <br>
    <h2 style="margin-left:20px">FDA OpenAPI - Query Tool <p></h2>
      <p font="normal" style="margin-left:20px">This site uses the FDA OpenAPI database to search and subscribe to Medical Device Adverse Event reports.</p>
      <p style="margin-left:20px">The FDA OpenAPI source & documentation can be found <a href="https://open.fda.gov/" target="_blank">here</a>.<p>

<span style="margin-left:20px" id="datetime"></span></p>
<script>
var dt = new Date();
document.getElementById("datetime").innerHTML = dt.toLocaleString();
</script>

 {% endblock %}
